* {
  box-sizing: border-box;
}

body {
  background: url("../images/image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#inpName {
  text-align: center;
}

label {
  color: white;
}

h1 {
  color: white;
}

.homePage {
  width: 40%;
  border: 3px solid black;
  background-color: chartreuse;
  padding: 10px;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 30%;
}

#form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  border: 2px solid black;
  border-radius: 10px;
  background-color: grey;
  width: 600px;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
}

#divMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
}

.divText {
  padding-left: 10px;
  flex: 1;
}

.divCardText {
  flex: 1;
  padding-right: 15px;
}

.img {
  height: 300px;
}

.para {
  margin-top: 14px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 500;
}

h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

#filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.morph {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.morph:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

@media only screen and (max-width: 426px) {
  .paraText {
    font-size: 12px;
  }

  .img {
    width: 150px;
  }

  #filters {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #filters {
    display: block;
    text-align: center;
  }
}
